@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
html,body{
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: $darkPurple;
}

.red-button{
    color:white;
    background-color: $buttonBackground;
    border: none;
    padding:0.625rem 1.25rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        background-color: #e74160;;
    }
}


.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }

}

.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
    }
    
}
::placeholder{
    color:$darkFont;
    font-size: 1rem;
}

input{
    background-color: #C4C4C4;
    font-size: 1.25rem;
}


.upper-gap{
    padding-top:3.5625rem;
}
.homepage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include breakpoint-down(medium){
        grid-template-columns: 1fr 9999fr 1fr;
    }
}

.username_pic {
   
   // border-bottom: 1px solid $veryLightPurple;
    display: flex;
    padding:0.9375rem;
    align-items: center;

    @include breakpoint-down(medium){
        border:none;
        //border-top: 1px solid $veryLightPurple;
    
        padding:0.625rem;
    }

    .profile-pic {
      width: 2.5rem;
      @include breakpoint-down(medium){
        width:1.875rem;
    }

    }
    .username {
        color:white;
        font-weight: 500;
        margin-left: 0.475rem;
    }
  }


  .tooop{
      height: calc(100% - 3.5625rem);
  }