.navbar ul {
  display: flex;
  position: fixed;

  width:100%;
  height: 3.5625rem;
  list-style: none;
  background-color: #1C1F33;

  align-items: center;
  color: white;

}
.gap{
    flex:.5;
    @include breakpoint-down(small){
        flex:.7;
    }
}
.weblogo{
    flex:1;

    @include breakpoint-down(small){
        flex:2.6;
    }
    > li img{
        width:3.125rem;
        @include breakpoint-down(small){
           width: 2.5rem;
        }
    } flex:4;
}
.home_logo{
    flex:1;
    display: flex;
    justify-content: center;
    > li img{
        width:1.6875rem;
        @include breakpoint-down(small){
            width: 1.25rem;
         }
    }
}
.search_logo{
    display: flex;
    justify-content: center;
    flex:1;
    > li img{
        width:1.5625rem;
        @include breakpoint-down(small){
            width: 1.25rem;
         }
    }
}
.notification_logo{
    flex:1;
    display: flex;
    justify-content: center;
    > li img{
        width:1.375rem;
        @include breakpoint-down(small){
            width: 1.0625rem;
         }
    }
}
.messages_logo{
    flex:1;
    display: flex;
    justify-content: center;
    > li img{
        width:1.5625rem;
        @include breakpoint-down(small){
            width: 1.25rem;
         }
    }
}
.user_logo{
    flex:0.7;
    display: flex;
    justify-content: center;
    > li img{
        width:1.375rem;
        @include breakpoint-down(small){
            width: 1.25rem;
         }
    }
}
