//body

$darkPurple :#2D3251;
$mediumDarkPurple:#3E456F;


//nav

$veryDarkPurple:#1C1F33;

//borders

$veryLightPurple:#8A94D1;


//font

$darkFont:#454C77;
$nameFontColor:#99A4E7;

//button
$buttonBackground :#BC2F49;

