

.root{
    height: 100%;
}
.App{
    height: 100%;
 
}
.main{
    height: 100%;
  
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #707383; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1C1F33; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4854a1; 
  }